<!--
  Generated template for the AddReceiptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Receipt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!--<div *ngIf="srcImage" class="image-wrapper">-->
  <!--<img id="image" [src]="srcImage" />-->
  <!--<button ion-button icon-left block (click)="analyze()" color="light">-->
  <!--<ion-icon name="search"></ion-icon>-->
  <!--Read-->
  <!--</button>-->
  <!--<button ion-button icon-left block (click)="restart()" color="light">-->
  <!--<ion-icon name="refresh"></ion-icon>-->
  <!--Restart-->
  <!--</button>-->
  <!--</div>-->

  <form #model="ngForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item text-wrap>
        <ion-label fixed>Currency:</ion-label>
        <ion-input type="text" [(ngModel)]="receipt.currency" name="currency"
                   placeholder="currency of receipt">
        </ion-input>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Name</ion-label>
        <ion-label>Type</ion-label>
        <ion-label>Qty</ion-label>
        <ion-label>Price</ion-label>
      </ion-item>
      <ion-item *ngFor="let rItem of receipt.items; let i = index" text-wrap>
        <!--dropdown category-->
        <ion-input [(ngModel)]="receipt.items[i].name" name="name_{{i}}" type="text"
                   placeholder="name"></ion-input>
        <ion-select [(ngModel)]="receipt.items[i].category" name="cat_{{i}}" placeholder="food"
                    [selectOptions]="selectOptions">
          <ion-option value="foods">Food</ion-option>
          <ion-option value="electronics">Electronic</ion-option>
          <ion-option value="clothes">Cloth</ion-option>
          <ion-option value="household">Household</ion-option>
          <ion-option value="others">Other</ion-option>
        </ion-select>
        <!--<span>x</span>-->
        <ion-input [(ngModel)]="receipt.items[i].value" name="val_{{i}}" type="number"
                   step="1" min="1"></ion-input>

        <ion-input item-right [(ngModel)]="receipt.items[i].price" name="price_{{i}}" type="number"
                   step="0.01"
                   min="0"></ion-input>

      </ion-item>
    </ion-list>

    <button ion-button full outline *ngIf="receipt.feedbackToken" item-right type="submit" block primary>Confirm
      <ion-icon
        name="checkmark-circle-outline" class="textes"></ion-icon>
    </button>
  </form>
</ion-content>
