<!--
  Generated template for the ViewReceiptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{receipt.date}} {{receipt.time}}</ion-title>

    <ion-buttons end>
      <button ion-button>
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>Category: {{receipt.commonCategory}}
  <p>Items:</p></h5>
  <ion-list>
    <ion-item *ngFor="let rItem of receipt.items">
      <ion-icon color="danger" item-left name="pizza" *ngIf="rItem.category=='food'"></ion-icon>
      <ion-icon color="primary" item-left name="phone-portrait" *ngIf="rItem.category=='electronics'"></ion-icon>
      <ion-icon color="primary" item-left name="cart" *ngIf="rItem.category=='clothes'"></ion-icon>
      <ion-icon color="primary" item-left name="home" *ngIf="rItem.category=='household'"></ion-icon>
      <ion-icon color="primary" item-left name="color-wand" *ngIf="rItem.category=='others'"></ion-icon>
      <span item-left>{{rItem.number}}.</span> {{rItem.name}} x {{rItem.value}} {{rItem.measure}}
      <span item-right>{{receipt.currency}}{{rItem.price}}</span>
    </ion-item>
  </ion-list>
  <ion-title>Total: {{receipt.currency}}{{receipt.total}}</ion-title>


</ion-content>
