<!--
  Generated template for the ListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Your Receipts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let receipt of receipts" (click)="itemSelected(receipt)">
      <ion-icon color="danger" item-left name="pizza" *ngIf="receipt.commonCategory=='food'"></ion-icon>
      <ion-icon color="primary" item-left name="phone-portrait" *ngIf="receipt.commonCategory=='electronics'"></ion-icon>
      <ion-icon color="primary" item-left name="cart" *ngIf="receipt.commonCategory=='clothes'"></ion-icon>
      <ion-icon color="primary" item-left name="home" *ngIf="receipt.commonCategory=='household'"></ion-icon>
      <ion-icon color="primary" item-left name="color-wand" *ngIf="receipt.commonCategory=='others'"></ion-icon>

      <h2><b>{{receipt.date}}</b> at <b>{{receipt.time}}</b></h2>
      <p>{{receipt.items.length}} items • Total: {{receipt.currency}}{{receipt.total}}</p>
      <button ion-button clear item-right (click)="itemSelected(receipt)">View</button>
    </button>
  </ion-list>
</ion-content>
